@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... Any other global CSS */

/* Global font setup */
* {
    font-family: 'Outfit', sans-serif;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Optional: For code elements */
code,
pre {
    font-family: 'Roboto Mono', monospace;
}